name: Build and Push to ACR

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      
      - name: Login to ACR
        run: az acr login --name ${{ secrets.REGISTRY_NAME }}
      
      - name: Build and push image
        run: |
          docker build -t ${{ secrets.REGISTRY_NAME }}.azurecr.io/distilbert-imdb:${{ github.sha }} .
          docker build -t ${{ secrets.REGISTRY_NAME }}.azurecr.io/distilbert-imdb:latest .
          docker push ${{ secrets.REGISTRY_NAME }}.azurecr.io/distilbert-imdb:${{ github.sha }}
          docker push ${{ secrets.REGISTRY_NAME }}.azurecr.io/distilbert-imdb:latest